---
layout: white
cameras:
- item: RED KOMODO 6K KIT 2
  accessory: KIT 1 + DZO VESPID or XEEN Prime Lens Kit + Mattebox
  price_day: '400'
- item: RED KOMODO 6K KIT 1
  accessory: RED + Monitor + 1 vlock + 1 CFAST
  price_day: '250'
- item: RED KOMODO 6K KIT 2
  accessory: KIT 1 + DZO VESPID or XEEN Prime Lens Kit + Mattebox
  price_day: '400'
studio:
  '0':
    item: Half Day (5h)
    supporting_accessories: 'Access to Infinity wall, Black box, makeup and dressing
      rooms '
    price_day: 200
    category: ''
    items: []
  '1':
    item: Full Day (10h)
    supporting_accessories: 'Access to Infinity wall, Black box, makeup and dressing
      rooms '
    price_day: 300
    category: ''
    items: []
  category: []
gear:
  '0':
    category: Objetivas
    items:
    - item: LEICA Summicron-C (PL) Kit 2
      accessory: Kit 1 + 1 additional lens
      price_day: '320'
    - item: LEICA Summicron-C (PL) Kit 1
      accessory: 3 Lens Set
      price_day: '250'
    - item: LEICA Summicron-C Full Set (PL)
      accessory: 18, 25, 35, 50, 75, 100
      price_day: '400'
  '1':
    camera:
    - item: RED KOMODO 6K KIT 1
      accessory: RED + Monitor + 1 vlock + 1 CFAST
      price_day: 250
    category: Cameras
    items:
    - item: Black Magic Pocket Cinema Camera 6K Kit 3
      accessory: Kit 2 +  Nucleus M  + Teradek + SmallHD AC Monitor
      price_day: '440'
    - item: Black Magic Pocket Cinema Camera 6K Kit 2
      accessory: Kit 1 + DZO VESPID or SAMYANG Prime Lens Kit + Mattebox
      price_day: '265'
    - item: Black Magic Pocket Cinema Camera 6K Kit 1
      accessory: BMPCC 6K pro + Feel World Monitor + 1 vlock + 1 SSD 1TB
      price_day: '115'
    - item: Black Magic Pocket Cinema Camera 6K
      accessory: Camera + 2x NPF + SD256GB
      price_day: '80'
    - item: Black Magic Pocket Cinema Camera 6K Pro Kit 3
      accessory: Kit 2 +  Nucleus M  + Teradek + SmallHD AC Monitor
      price_day: '450'
    - item: Black Magic Pocket Cinema Camera 6K Pro Kit 2
      accessory: Kit 1 + DZO VESPID or SAMYANG Prime Lens Kit + Mattebox
      price_day: '275'
    - item: Black Magic Pocket Cinema Camera 6K Pro Kit 1
      accessory: BMPCC 6K pro + Feel World Monitor + 1 vlock + 1 SSD 1TB
      price_day: '125'
    - item: Black Magic Pocket Cinema Camera 6K Pro
      accessory: Camera + 2x NPF + SD256GB
      price_day: '90'
    - item: ''
      accessory: Circular Rotating Polariser
      price_day: '3'
    - item: ''
      accessory: 2-5 Stop ND
      price_day: '7'
    - item: Polar Pro Base Camp Kit
      accessory: ''
      price_day: '20'
    - item: Smallrig 2660 Lightweight Mattebox (114mm)
      accessory: ''
      price_day: '5'
    - item: RED KOMODO 6K KIT 3
      accessory: 'KIT 2 + Nucleus M  + Teradek + SmallHD AC Monitor '
      price_day: '600'
    - item: RED KOMODO 6K KIT 2
      accessory: KIT 1 + DZO VESPID or XEEN Prime Lens Kit + Mattebox
      price_day: '400'
    - item: RED KOMODO 6K KIT 1
      accessory: RED + Monitor + 1 vlock + 1 CFAST
      price_day: '250'
  category:
  - title: CAMERAS / CÂMARAS
    items:
    - item: Polar Pro Base Camp Kit
      accessory: ''
      price/day: 20
    - item: Smallrig 2660 Lightweight Mattebox (114mm)
      accessory: ''
      price/day: 5
    - item: RED KOMODO 6K KIT 3
      accessory: 'KIT 2 + Nucleus M  + Teradek + SmallHD AC Monitor '
      price/day: 600
    - item: RED KOMODO 6K KIT 2
      accessory: KIT 1 + DZO VESPID or XEEN Prime Lens Kit + Mattebox
      price/day: 400
    - item: RED KOMODO 6K KIT 1
      accessory: RED + Monitor + 1 vlock + 1 CFAST
      price/day: 250
mobility:
  category: []
  item: ''
  accessories: []
crew:
- role: Production Assitant / Assistente de Produção
crew_t:
- Makeup Artist / Maquilhagem
- 'Data Wrangler '
- Assistant Director / Assistente de Realização
- Producer / Produtor(a)
- Camera Assistant / Assistente de Câmara
- Camera Operator / Operador(a) de Câmara
- Director of Photography / Diretor(a) de Fotografia
- Gaffer
- Production Assistant
crew_final:
  role: []

---
<div class="nav-logo">
    <a href="{{ site.baseurl }}/">
        <img src="{{site.baseurl}}/assets/img/logo_preto.png" alt="" class="logo-img">
        <img src="{{site.baseurl}}/assets/img/logo_mobile_preto.png" alt="" class="logo-mobile-img">
    </a>
</div>


<form action="https://getform.io/f/e46584e3-2177-4d02-a8ee-514e999190e2" method="POST" class="booking-form">
  <div class="booking-content">
    <div class="products">
      <h3>GEAR</h3>
      <h6 class="subtitle">CAMERAS</h6>
      {% for i in page.cameras %}
          <input type="checkbox" class="checkbox" id="{{ i.item }}" name="cameras[]" value="{{i.item}}" data-price="{{i.price_day}}">
          <label for="{{ i.item }}">{{ i.item }}</label>
      {% endfor %}

      <h3>STUDIO</h3>
      {% for i in page.studio %}
          <input type="checkbox" class="checkbox" id="{{ i.item }}" name="studio[]" value="{{i.item}}" data-price="{{i.price_day}}">
          <label for="{{ i.item }}">{{ i.item }}</label>
      {% endfor %}
      <h3>MOBILITY</h3>
      <h3>CREW</h3>
    </div>
  
    <div class="submission">
      <span>Price per day:</span><span class="total-price"> 0</span><br>
      <input type="text" name="name" placeholder="Your Name*" required="required">
      <input type="email" name="email" placeholder="Your Email*" required="required"><br>
      <button type="submit">Submit</button>
    </div>
  </div>
</form>

<script>
$('.checkbox').on("change", function () {
    var totalPrice = 0;

    $('.checkbox:checked').each(function () {
        totalPrice += parseInt($(this).data('price'), 10);
    });

    $('.total-price').html(totalPrice);
});

</script>