---
layout: white
---
<div class="nav-logo">
    <a href="{{ site.baseurl }}/">
        <img src="{{site.baseurl}}/assets/img/logo_preto.png" alt="" class="logo-img">
        <img src="{{site.baseurl}}/assets/img/logo_mobile_preto.png" alt="" class="logo-mobile-img">
    </a>
</div>
{% assign filmProducts = site.products | where: "type", "Film" %}
{% assign photoProducts = site.products | where: "type", "Photography" %}

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="filmDropdown" class="dropdown-content">
    {% for category in filmProducts.category %}
      <a href="#"></a>
    {% endfor %}
  </div>
</div>

<h3>Film</h3>

{% for product in filmProducts %}
  <div>{{ product.title }}</div>
{% endfor %}

<h3>Photography</h3>

{% for product in photoProducts %}
  <div>{{ product.title }}</div>
{% endfor %}


<form action="https://getform.io/f/e46584e3-2177-4d02-a8ee-514e999190e2" method="POST" class="booking-form">
  <div class="submission">
    <span>Price per day:</span><span class="day-price"> 0</span><br>
    <span>Total Price:</span><span class="total-price"> 0</span><br>
    <input type="text" name="name" placeholder="Your Name*" required="required">
    <input type="email" name="email" placeholder="Your Email*" required="required"><br>
    <input type="date" name="start date" placeholder="Start Date" required="required">
    <input type="date" name="end date" placeholder="End Date" required="required"><br>
    <input type="text_area" name="order notes" placeholder="Notes"><br>
    <button type="submit">Submit</button>
  </div>
</form>

<script>
  $('.checkbox').on("change", function () {
      var totalPrice = 0;
  
      $('.checkbox:checked').each(function () {
          totalPrice += parseInt($(this).data('price'), 10);
      });
  
      $('.day-price').html(totalPrice);
  });
  
  $(document).ready 
  </script>