---
layout: rental
imagem_pt:
- Câmaras
- Objetivas
- Monitores
- Wireless
- Outros
- Live Streaming
- Outros
- Media
- Power
imagem_eng:
- Cameras
- Lenses
- Monitors
- Wireless
- Live Streaming
- Drone
- Others
- Media
- Power
audio_pt:
- Microfones
- Gravadores de Som
- Outros
audio_eng:
- Microphones
- Sound Recorders
- Others
luz_pt:
- Luz Contínua
- Flash
- Modificadores de Luz
- Panos
- Frames
- Refletores
light_eng:
- Continuous Light
- Flash
- Light Modifiers
- Cloths
- Frames
- Reflectors
ge_pt:
- Rigs
- Stabilizers/Gimbals
- Tripés/Cabeças Fluídas
- Dollies/Sliders
- Grip
- Power
- Outros
ge_eng:
- Rigs
- Stabilizers/Gimbals
- Tripods/Fluid Heads
- Dollies/Sliders
- Grip
- Power
- Others
on_set:
- Magliner
- COM
on_set_eng:
- Magliner
- COM
cart: "<p>When adding to cart, you'll be able to select your desired dates and receive
  a price estimate for that time and full list of products. Here you can submit a
  request for rental. We can't guarantee this product to be available for your required
  dates. Our team will get in touch to confirm your booking and provide any further
  details necessary. Payment is taken on site upon collection.</p>"
carrinho: "<p>Ao adicionar ao carrinho, poderá seleccionar as datas desejadas e calcular
  uma estimativa do preço total  da reserva. Poderá submeter o seu pedido através
  de um formulário de reserva. Não podemos garantir que este produto terá disponibilidade
  para as datas desejadas, mas a nossa equipa entrará em contacto para confirmar o
  seu pedido e fornecer qualquer informação em falta. O pagamento será efectuado presencialmente.
  </p>"

---
<div class="nav-logo">
    <a href="{{ site.baseurl }}/">
        <img src="{{site.baseurl}}/assets/img/logo_preto.png" alt="" class="logo-img">
        <img src="{{site.baseurl}}/assets/img/logo_mobile_preto.png" alt="" class="logo-mobile-img">
    </a>
</div>

{% assign gearProducts = site.products | where: "type", "Gear" %}
{% assign studioProducts = site.products | where: "type", "Studio" %}
{% assign mobilityProducts = site.products | where: "type", "Mobility" %}
{% assign crewProducts = site.products | where: "Type", "Crew" %}

<main class="page-container">
  <button type="button" class="cart-btn h5" data-bs-toggle="modal" data-bs-target="#cart">Cart (<span class="total-count"></span>)</button></div>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active h5" id="pills-studio-tab" data-bs-toggle="pill" data-bs-target="#pills-studio" type="button" role="tab" aria-controls="pills-studio" aria-selected="true">STUDIO</button>
  </li>
  <li class="nav-item dropdown full-width" role="presentation">
    <a class="nav-link dropdown-toggle h5" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">GEAR</a>
    <ul class="dropdown-menu">
      <li>
        <div class="subnav">IMAGE</div>
        {% for subcat in page.imagem_eng %}
          <button class="dropdown-item" data-bs-toggle="pill" data-bs-target="#pills-{{ subcat | slugify }}" type="button" role="tab" aria-controls="pills-{{ subcat | slugify }}" aria-selected="false">{{ subcat }}</button>
        {% endfor %}
      </li>
      <li>
        <div class="subnav">AUDIO</div>
        {% for subcat in page.audio_eng %}
          <button class="dropdown-item" data-bs-toggle="pill" data-bs-target="#pills-{{ subcat | slugify }}" type="button" role="tab" aria-controls="pills-{{ subcat | slugify }}" aria-selected="false">{{ subcat }}</button>
        {% endfor %}
      </li>
      <li>
        <div class="subnav">LUZ</div>
        {% for subcat in page.light_eng %}
          <button class="dropdown-item" data-bs-toggle="pill" data-bs-target="#pills-{{ subcat | slugify }}" type="button" role="tab" aria-controls="pills-{{ subcat | slugify }}" aria-selected="false">{{ subcat }}</button>
        {% endfor %}
      </li>
      <li>
        <div class="subnav">G&E</div>
        {% for subcat in page.ge_eng %}
          <button class="dropdown-item" data-bs-toggle="pill" data-bs-target="#pills-{{ subcat | slugify }}" type="button" role="tab" aria-controls="pills-{{ subcat | slugify }}" aria-selected="false">{{ subcat }}</button>
        {% endfor %}
      </li>
      <li>
        <div class="subnav">ON SET</div>
        {% for subcat in page.on_set_eng %}
          <button class="dropdown-item" data-bs-toggle="pill" data-bs-target="#pills-{{ subcat | slugify }}" type="button" role="tab" aria-controls="pills-{{ subcat | slugify }}" aria-selected="false">{{ subcat }}</button>
        {% endfor %}
      </li>
      
    </ul>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link h5" id="pills-crew-tab" data-bs-toggle="pill" data-bs-target="#pills-crew" type="button" role="tab" aria-controls="pills-crew" aria-selected="false">CREW</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link h5" id="pills-mobility-tab" data-bs-toggle="pill" data-bs-target="#pills-mobility" type="button" role="tab" aria-controls="pills-mobility" aria-selected="false">MOBILITY</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <!--STUDIO TAB-->
  <div class="tab-pane fade show active" id="pills-studio" role="tabpanel" aria-labelledby="pills-studio-tab">
    <div class="row gx-4 gy-4 mt-4">
      {% for product in studioProducts %}
      <div class="col m-3">
        <div><img src="{{site.baseurl}}{{ product.images[0] }}" alt="{{ product.title }}" class="product-img" data-bs-toggle="modal" data-bs-target="#{{product.title | slugify }}Modal"></div>
        <div class="product-title mt-2 small-label">{{ product.title }}</div>
        <div class="d-flex justify-content-between mt-2 product-container">
          <div class="small-label">{{ product.price_day }} EUR/DAY</div>
          <div class="addToCart add-to-cart small-label me-2" data-name="{{ product.title }}" data-price="{{product.price_day}}" data-image="{{product.images[0]}}">ADD</div>
        </div> 
      </div>
      {% endfor %}
    </div>
  </div>
  <!--CREW TAB-->
  <div class="tab-pane fade" id="pills-crew" role="tabpanel" aria-labelledby="pills-crew-tab">
    <div class="row gx-4 gy-4 mt-4">
      {% for product in crewProducts %}
      <div class="col m-3">
        <div><img src="{{site.baseurl}}{{ product.images[0] }}" alt="{{ product.title }}" class="product-img" data-bs-toggle="modal" data-bs-target="#{{product.title | slugify }}Modal"></div>
        <div class="product-title mt-2 small-label">{{ product.title }}</div>
        <div class="d-flex justify-content-between mt-2 product-container">
          <div class="small-label">{{ product.price_day }} EUR/DAY</div>
          <div class="addToCart add-to-cart small-label me-2" data-name="{{ product.title }}" data-price="{{product.price_day}}" data-image="{{product.images[0]}}">ADD</div>
        </div> 
      </div>
      {% endfor %}
    </div>
  </div>
  <!--MOBILITY TAB-->
  <div class="tab-pane fade" id="pills-mobility" role="tabpanel" aria-labelledby="pills-mobility-tab">
    <div class="row gx-4 gy-4 mt-4">
      {% for product in mobilityProducts %}
      <div class="col m-3">
        <div><img src="{{site.baseurl}}{{ product.images[0] }}" alt="{{ product.title }}" class="product-img" data-bs-toggle="modal" data-bs-target="#{{product.title | slugify }}Modal"></div>
        <div class="product-title mt-2 small-label">{{ product.title }}</div>
        <div class="d-flex justify-content-between mt-2 product-container">
          <div class="small-label">{{ product.price_day }} EUR/DAY</div>
          <div class="addToCart add-to-cart small-label me-2" data-name="{{ product.title }}" data-price="{{product.price_day}}" data-image="{{product.images[0]}}">ADD</div>
        </div> 
      </div>
      {% endfor %}
    </div>
  </div>
  <!--GEAR TABS-->
  {% for subcat in page.imagem_eng %}
    <div class="tab-pane fade" id="pills-{{ subcat | slugify }}" role="tabpanel" aria-labelledby="pills-{{subcat | slugify }}-tab">
      {% assign products = site.products | where: "subcategory", subcat %}
      <div class="row gx-4 gy-4 mt-4">
          {% for product in products %}
          <div class="col m-3">
            <div><img src="{{site.baseurl}}{{ product.images[0] }}" alt="{{ product.title }}" class="product-img" data-bs-toggle="modal" data-bs-target="#{{product.title | slugify }}Modal"></div>
            <div class="product-title mt-2 small-label">{{ product.title }}</div>
            <div class="d-flex justify-content-between mt-2 product-container">
              <div class="small-label">{{ product.price_day }} EUR/DAY</div>
              <div class="addToCart add-to-cart small-label me-2" data-name="{{ product.title }}" data-price="{{product.price_day}}" data-image="{{product.images[0]}}">ADD</div>
            </div> 
          </div>
          {% endfor %}
        </div>
    </div>
  {% endfor %}
  {% for subcat in page.audio_eng %}
    <div class="tab-pane fade" id="pills-{{ subcat | slugify }}" role="tabpanel" aria-labelledby="pills-{{subcat | slugify }}-tab">
      {% assign products = site.products | where: "subcategory", subcat %}
      <div class="row gx-4 gy-4 mt-4">
          {% for product in products %}
          <div class="col m-3">
            <div><img src="{{site.baseurl}}{{ product.images[0] }}" alt="{{ product.title }}" class="product-img" data-bs-toggle="modal" data-bs-target="#{{product.title | slugify }}Modal"></div>
            <div class="product-title mt-2 small-label">{{ product.title }}</div>
            <div class="d-flex justify-content-between mt-2 product-container">
              <div class="small-label">{{ product.price_day }} EUR/DAY</div>
              <div class="addToCart small-label me-2" data-item="{{ product.title }}" data-price="{{product.price_day}}" data-image="{{product.images[0]}}">ADD</div>
            </div> 
          </div>
          {% endfor %}
        </div>
    </div>
  {% endfor %}
  {% for subcat in page.light_eng %}
    <div class="tab-pane fade" id="pills-{{ subcat | slugify }}" role="tabpanel" aria-labelledby="pills-{{subcat | slugify }}-tab">
      {% assign products = site.products | where: "subcategory", subcat %}
      <div class="row gx-4 gy-4 mt-4">
          {% for product in products %}
          <div class="col m-3">
            <div><img src="{{site.baseurl}}{{ product.images[0] }}" alt="{{ product.title }}" class="product-img" data-bs-toggle="modal" data-bs-target="#{{product.title | slugify }}Modal"></div>
            <div class="product-title mt-2 small-label">{{ product.title }}</div>
            <div class="d-flex justify-content-between mt-2 product-container">
              <div class="small-label">{{ product.price_day }} EUR/DAY</div>
              <div class="addToCart small-label me-2" data-item="{{ product.title }}" data-price="{{product.price_day}}" data-image="{{product.images[0]}}">ADD</div>
            </div> 
          </div>
          {% endfor %}
        </div>
    </div>
  {% endfor %}
  {% for subcat in page.ge_eng %}
    <div class="tab-pane fade" id="pills-{{ subcat | slugify }}" role="tabpanel" aria-labelledby="pills-{{subcat | slugify }}-tab">
      {% assign products = site.products | where: "subcategory", subcat %}
      <div class="row gx-4 gy-4 mt-4">
          {% for product in products %}
          <div class="col m-3">
            <div><img src="{{site.baseurl}}{{ product.images[0] }}" alt="{{ product.title }}" class="product-img" data-bs-toggle="modal" data-bs-target="#{{product.title | slugify }}Modal"></div>
            <div class="product-title mt-2 small-label">{{ product.title }}</div>
            <div class="d-flex justify-content-between mt-2 product-container">
              <div class="small-label">{{ product.price_day }} EUR/DAY</div>
              <div class="addToCart small-label me-2" data-item="{{ product.title }}" data-price="{{product.price_day}}" data-image="{{product.images[0]}}">ADD</div>
            </div> 
          </div>
          {% endfor %}
        </div>
    </div>
  {% endfor %}
  {% for subcat in page.on_set_eng %}
  <div class="tab-pane fade" id="pills-{{ subcat | slugify }}" role="tabpanel" aria-labelledby="pills-{{subcat | slugify }}-tab">
    {% assign products = site.products | where: "subcategory", subcat %}
    <div class="row gx-4 gy-4 mt-4">
        {% for product in products %}
        <div class="col m-3">
          <div><img src="{{site.baseurl}}{{ product.images[0] }}" alt="{{ product.title }}" class="product-img" data-bs-toggle="modal" data-bs-target="#{{product.title | slugify }}Modal"></div>
          <div class="product-title mt-2 small-label">{{ product.title }}</div>
          <div class="d-flex justify-content-between mt-2 product-container">
            <div class="small-label">{{ product.price_day }} EUR/DAY</div>
            <div class="addToCart small-label me-2" data-item="{{ product.title }}" data-price="{{product.price_day}}" data-image="{{product.images[0]}}">ADD</div>
          </div> 
        </div>
        {% endfor %}
      </div>
  </div>
{% endfor %}
</div> 

<!--

<form action="https://getform.io/f/e46584e3-2177-4d02-a8ee-514e999190e2" method="POST" class="booking-form">
  <div class="submission p-5">
    <a href="#" class="close-cart">Close Cart</a>
    <div class="allcontent mb-5"></div>
    <span>Price per day:</span><span class="day-price"> 0</span><br>
    <span>Total Price:</span><span class="total-price"> 0</span><br>
    <input type="text" name="name" placeholder="Your Name*" required="required" class="w-100"><br>
    <input type="email" name="email" placeholder="Your Email*" required="required" class="w-100"><br>
    <input type="date" name="start date" placeholder="Start Date" required="required" class="start-date">
    <input type="date" name="end date" placeholder="End Date" required="required" class="end-date"><br>
    <textarea name="order notes" placeholder="Notes" class="w-100"></textarea><br>
    <button type="submit" class="request mt-2">Submit Request</button>
  </div>
</form>

-->

<!-- Button trigger modal -->

{% for product in site.products %}
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="{{product.title | slugify }}Modal" tabindex="-1" aria-labelledby="{{product.title | slugify }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3 pe-5">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="d-flex">
          <div class="d-flex ps-3 pe-5">
            {% for img in product.images %}
            <img src="{{site.baseurl}}{{ img }}" alt="{{ product.title }}" class="modal-img">
            {% endfor %}
          </div>
          <div class="modal-info-side">
            <div>{{ product.category }} / {{ product.subcategory }}</div>
            <div class="border-bottom border-dark my-2"></div>
            <h4 class="text-uppercase"><b>{{product.title}}</b></h4>
            <div class="border-bottom border-dark my-2"></div>
            <div class="d-flex justify-content-between bold">
              <div>{{ product.price_day }} EUR/DAY</div>
              <div>QTY: <input type="number" class="qty-input" step="1" min="1" name="qty" value="1" title="QTY" inputmode="numeric" autocomplete="off"></div>
            </div>
            <div class="border-bottom border-dark my-2"></div>
            <div>{{ product.description }}</div>
            <div class="border-bottom border-dark my-2"></div>
            <div class="small-text mt-2">{{ page.cart }}</div>
            <div class="border-bottom border-dark my-2"></div>
            <div class="d-flex justify-content-center">
              <div class="add-to-cart inner-cart-btn me-2" data-name="{{product.title}}" data-price="{{product.price_day}}" data-image="{{product.images[0]}}">ADD TO CART</div>
            </div>
            <div class="border-bottom border-dark my-2"></div>
          </div>
        </div>
    </div>
  </div>
</div>

{% endfor %}

<div class="modal right fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <button type="button" class="btn-close cart-close-btn p-3" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body">
        
        <div class="pb-2 d-flex justify-content-between">
          <div>Cart (<span class="total-count"></span>)</div>
          <button class="clear-cart">Clear All</button>
        </div>
        <div class="border-bottom border-dark w-100"></div>
        <div class="show-cart">

        </div>
      </div>
      <div class="modal-footer border-0 flex-column">
        <div class="border-bottom border-dark my-2 w-100"></div>
        <div class="d-flex w-100 justify-content-between"><div>TOTAL PER DAY</div> <span class="total-cart"> / EUR</span></div>
        <div class="border-bottom border-dark my-2 w-100"></div>
        <a href="{{site.baseurl}}/checkout"><button type="button" class="checkout-btn bold">CHECKOUT</button></a>
        <div class="border-bottom border-dark my-2 w-100"></div>
      </div>
    </div>
  </div>
</div> 

</main>
{% include bootstrap-scripts.html %}
<script src="{{site.baseurl}}/assets/js/shoppingCart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
  
  let dayPrice = 0;
  let totalPrice = 0;
  $(".addToCart").click(function() {
    let elem = $(this).data("item");
    $('.submission').show();
    $('.allcontent').prepend('<div class="cart-item"><input class="w-100 border-top" type="text" name="products[]" disabled value="' + elem + '"/><input class="w-100 border-top" type="hidden" name="products[]" value="' + elem + '"/><div class="remove-btn"><i class="ri-delete-bin-2-fill"></i></div></div>');
    dayPrice += parseInt($(this).data('price'), 10);
    $('.day-price').html(dayPrice);
    console.log(totalPrice);

  });

    $(document).on( "click", '.remove-btn', function() {
        $(this).parent().remove();
        console.log("clicked!");
        return false;
    });

  $('.end-date, .start-date').on("change", function () {
    let start = new Date($('.start-date').val());
    let end = new Date($('.end-date').val());
    let diff = 1000 * 60 * 60 * 24;
    let start_date = $('.start-date').val();
    $(".end-date").attr("min", start_date );

    let date_diff = end - start;
    let days_diff = date_diff / (1000 * 3600 * 24);
    let totalPrice = dayPrice * days_diff

    if (days_diff < 3) {      
        $('.total-price').html(totalPrice);
    }           
    else if (days_diff >= 3 || days_diff < 7) {
        discountPrice = .25;
        totalPrice = totalPrice - (totalPrice * discountPrice);
        $('.total-price').html(totalPrice);
    }
    else if (days_diff >= 7 || days_diff < 30) {
        discountPrice = .40;
        totalPrice = totalPrice - (totalPrice * discountPrice); 
        $('.total-price').html(totalPrice);   
    }
    else if (days_diff >= 30) {
        discountPrice = .55;
        totalPrice = totalPrice - (totalPrice * discountPrice);  
        $('.total-price').html(totalPrice);  
    }
  });
  

  function handleFirstTab(e) {
    if (e.keyCode === 9) { // the "I am a keyboard user" key
        document.body.classList.add('user-is-tabbing');
        window.removeEventListener('keydown', handleFirstTab);
    }
}

window.addEventListener('keydown', handleFirstTab);
</script>