---
layout: black
project_order:
- _film/matriz-tiago-nacarato.html
- _film/forum-viseu.html
- _film/alma-gemea.html
- _film/tiago-nacarato-canta-vinicius-episodio-1.html
- _film/of-sign-promo.html
- _film/miguel-araujo-com-antonio-zambujo-dia-da-procissao.html
- _film/waiting-in-the-dark.html
- _film/still-life.html
- _film/all-the-trees-will-clap-their-hands.html
- _film/maria-fontes-johnny-virtus-lay-it-down.html
- _film/2b.html
- _film/lucky-charm-3may.html
- _film/parfois.html
- _film/paiao-po-de-arroz.html
- _film/fundacao-marques-da-silva-mais-que-arquitetura.html
- _film/ding-dong.html
- _film/agender-perks-fw17.html
- _film/os-azeitonas-traco-de-mulher.html
- _film/jorge-benvinda-por-ti.html
- _film/carlos-moises-dancar-ate-que-a-noite-caia.html
- _film/nuno-ribeiro-por-ti.html
- _film/boa-vista-cafe.html
- _film/saltpay.html

---
<div class="nav-logo">
  <a href="{{ site.baseurl }}/">
    <img src="{{site.baseurl}}/assets/img/logo_branco.png" alt="" class="logo-img">
    <img src="{{site.baseurl}}/assets/img/logo_mobile_branco.png" alt="" class="logo-mobile-img">
  </a>
</div>

<div class="about-container">
    <div class="content-flex">
        <div class="about-intro">Porto based film and photography<br>studio offering both creative services<br>and a production space.</div>
        <div class="about-address">
            Avenida da Boavista, 82<br>
            Porto, Portugal
            <br><br>
            geral@av82studio.com<br>
            + 351 912558439
        </div>
    </div>
</div>
<h2 class="about-btn"><span class="arrow-up"><i class="ri-arrow-up-line"></i></span><span class="arrow-down"><i class="ri-arrow-down-line"></i></span> ABOUT</h2>


<div class="prod-navigation">
    <div class="selection-flex">
        <h1 class="selection-title active">FILM</h1>
        <h1 class="selection-title"><a href="{{site.baseurl}}/photo">PHOTO</a></h1>
    </div>
    <div class="filters">
        <span class="all-btn">All,</span>
        <span class="commercial-btn">Commercial,</span>
        <span class="music-btn">Music,</span>
        <span class="fashion-btn">Fashion,</span>
        <span class="films-btn">Films</span>
    </div>
</div>
<div class="c-editable">
  <div class="projects-container">
    {% for sortedPath in page.project_order %}
    {% assign sortedProjects = site.film | where: "path", sortedPath %}
    {% for project in sortedProjects %}
      <div class="grid-item {% if project.large == true %} larger-placement {% endif %}  {{project.category}}">
          <!--<div class="project-title">{{ project.title }}</div>-->
          <img src="{{site.baseurl}}{{ project.still_thumbnail }}" class="project-img" >
          {% if project.video_thumbnail != '' %}<video class="project-img project-vid" crossorigin="anonymous" preload="metadata" muted autoplay loop playsinline><source src="{{ site.baseurl }}{{ project.video_thumbnail }}" type="video/mp4"></video>{% endif %}
          <a href="{{site.baseurl}}{{project.url}}" class="project-link"></a>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>
<script>
$('.all-btn').click(function() {
  $('.fashion, .commercial, .music, .films').css('opacity', '1');
});
$('.commercial-btn').click(function() {
  $('.fashion, .films, .music').css('opacity', '0.2');
  $('.commercial').css('opacity', '1');
});
$('.music-btn').click(function() {
  $('.fashion, .commercial, .films').css('opacity', '0.2');
  $('.music').css('opacity', '1');
});
$('.fashion-btn').click(function() {
  $('.commercial, .music, .films').css('opacity', '0.2');
  $('.fashion').css('opacity', '1');
});
$('.films-btn').click(function() {
  $('.commercial, .music, .fashion').css('opacity', '0.2');
  $('.films').css('opacity', '1');
});
</script>