---
layout: black
film_projects:
- template: film
  title: Waiting in the Dark
  category: Fashion
  synopsis: "<p>“Waiting in the Dark” é um trabalho de realização e produção desenvolvido
    em parceria com o fotógrafo Pedro Afonso e a diretora criativa Ana Magalhães.
    Neste projeto auxiliamos a dupla a dar corpo a “Waiting in the Dark” - um fashion
    film que explora as tonalidades monocromáticas e a suas interações com o vestuário.</p>"
  stills:
  - "/assets/img/Waiting in the Dark 1.webp"
  - "/assets/img/Waiting in the Dark 2.webp"
  - "/assets/img/Waiting in the Dark 3.webp"
  still_thumbnail: "/assets/img/Waiting in the Dark 2.webp"
  video_embed: ''
  video_thumbnail: ''
  large: false

---
<div class="nav-logo">
    <img src="{{site.baseurl}}/assets/img/logo_branco.png" alt="" class="logo-img">
</div>

<div class="prod-navigation">
    <div class="selection-flex">
        <h1 class="selection-title active">FILM</h1>
        <h1 class="selection-title"><a href="{{site.baseurl}}/photo">PHOTO</a></h1>
    </div>
    <div class="filters">
        <span>All,</span>
        <span>Commercial,</span>
        <span>Music Videos,</span>
        <span>Fashion,</span>
        <span>Films</span>
    </div>
</div>

<div class="projects-container">
    {% for project in site.film %}
        <img src="{{site.baseurl}}{{ project.still_thumbnail }}" class="project-img {% if project.large = true %} larger-placement {% endif %}" >
    {% endfor %}
</div>