---
layout: white
project_order:
- _photo/lita.html
- _photo/alma-gemea.html
- _photo/bmed-lifestyle.html
- _photo/tiago-nacarato.html
- _photo/lilas.html
- _photo/degrau.html
- _photo/pinta-house.html
- _photo/mr-mood.html
- _photo/blasee.html
- _photo/frambooesas.html
- _photo/paw-it-up.html
- _photo/abraco.html
- _photo/sonae.html
- _photo/berg.html

---
<div class="nav-logo">
  <a href="{{ site.baseurl }}/">
    <img src="{{site.baseurl}}/assets/img/logo_preto.png" alt="" class="logo-img">
    <img src="{{site.baseurl}}/assets/img/logo_mobile_preto.png" alt="" class="logo-mobile-img">
  </a>
</div>

<div class="prod-navigation black">
  <div class="selection-flex">
      <h1 class="selection-title"><a href="{{site.baseurl}}/film">FILM</a></h1>
      <h1 class="selection-title active">PHOTO</h1>
  </div>
  <div class="filters">
      <span class="all-btn">All,</span>
      <span class="commercial-btn">Commercial,</span>
      <span class="fashion-btn">Fashion,</span>
      <span class="portraits-btn">Portraits</span>
  </div>

</div>

  <div class="photo-grid">
    
    {% for sortedPath in page.project_order %}
      {% assign sortedProjects = site.photo | where: "path", sortedPath %}
      {% for project in sortedProjects %}
      <div class="thumbnail-container">
        <img src="{{site.baseurl}}{{ project.thumbnail }}" class="photo-img {{project.category}}" ><a href="{{site.baseurl}}{{project.url}}" class="project-link"></a>
      </div>
      {% endfor %}
    {% endfor %}
    
  </div>


<script>
window.onload = function () {
var images = document.getElementsByTagName('img');

for( var i=0; i<images.length;i++){
  if(images[i].naturalWidth < images[i].naturalHeight) {
      $(images[i]).parent().addClass('portrait');  
  }
}
}

$('.all-btn').click(function() {
  $('.fashion, .commercial, .portraits').css('opacity', '1');
});
$('.commercial-btn').click(function() {
  $('.fashion, .portraits').css('opacity', '0.2');
  $('.commercial').css('opacity', '1');
});
$('.portraits-btn').click(function() {
  $('.fashion, .commercial').css('opacity', '0.2');
  $('.portraits').css('opacity', '1');
});
$('.fashion-btn').click(function() {
  $('.commercial, .portraits').css('opacity', '0.2');
  $('.fashion').css('opacity', '1');
});
</script>