---
layout: black
team_members:
  - name: Bruno Fernandes
    roles_eng:
      - Portfolio Manager
    roles_pt:
      - Portfólio Manager
    retrato: /assets/img/retratos-av82-20240414-1.jpg
  - name: Marta Ribas
    retrato: /assets/img/retratos-av82-20240471-1.jpg
    roles_eng:
      - Creative Director
    roles_pt:
      - Diretora Criativa
  - name: Danilo Nacarato
    roles_eng:
      - Set Designer
    roles_pt:
      - Designer de Set
    retrato: /assets/img/retratos-av82-20240418-1.jpg
  - name: João Proença
    roles_eng:
      - Business and Finance
    roles_pt:
      - Business and Finance
    retrato: /assets/img/retratos-av82-20240429-1.jpg
  - name: Filipa Castro Gomes
    roles_eng:
      - Assistant Camera
    roles_pt:
      - Assistente de Câmara
    retrato: /assets/img/retratos-av82-20240523-1.jpg
  - name: Daniel Estrela Amador
    roles_eng:
      - Gaffer
    roles_pt:
      - Gaffer
    retrato: /assets/img/retratos-av82-20240469-1.jpg
  - name: James Williams
    roles_eng:
      - Director of Photography
      - Colorist
    roles_pt:
      - Diretor de Fotografia
      - Colorista
    retrato: /assets/img/retratos_bw_website_3.jpg
  - name: Marta Assunção
    roles_eng:
      - Producer
    roles_pt:
      - Produtora
    retrato: /assets/img/retratos-av82-20240563-1.jpg
  - name: "Bruno Nacarato "
    roles_eng:
      - Photographer
    roles_pt:
      - Fotógrafo
    retrato: /assets/img/retratos-av82-20240454-1.jpg
---
<div class="nav-logo">
    <a href="{{ site.baseurl }}/">
        <img src="{{site.baseurl}}/assets/img/logo_branco.png" alt="" class="logo-img">
        <img src="{{site.baseurl}}/assets/img/logo_mobile_branco.png" alt="" class="logo-mobile-img">
    </a>
</div>
{% include about-container.html %}
<div class="prod-navigation">
    <div class="selection-flex">
        <h1 class="selection-title active"><span class="eng">MEET THE TEAM</span><span class="pt">QUEM SOMOS</span></h1>
    </div>
    <div class="filters">
    </div>
</div>

<div class="team-flex">
    {% for member in page.team_members reversed %}
        <div class="member-div">
            <img src="{{ site.baseurl }}{{ member.retrato }}" alt="{{member.name | slugify}}-photo" class="portrait">
            <div class="member-titles">
                <h4 class="member-name">{{ member.name }}</h4>
                <div class="eng">
                    {% for role in member.roles_eng %}
                    <div>{{ role }}</div>
                    {% endfor %}
                </div>
                <div class="pt">
                  {% for role in member.roles_pt %}
                  <div>{{ role }}</div>
                  {% endfor %}
              </div>
            </div>
        </div>
    {% endfor %}
</div>