.booking-content
    margin: 15px

.booking-content
    display: flex
    justify-content: space-between

.subtitle
    margin-left: 1vw

.products-row
    display: grid
    grid-template-columns: 0.7fr 1fr 1.5fr 0.4fr 0.2fr

.products-row h6
    margin: 2vh 0

.ri-checkbox-fill
    margin: 2vh 0

.products-row .checkbox
    margin: 2vh 0
.products
    width: 85%
    margin-right: 3vw

.underline
    border-bottom: 1px solid black
    width: 97%

.checkbox > input:checked 
    border: 1px solid #41B883
    background-color: #34495E

.item, .accessory, .price
    font-weight: normal

.bold
    font-weight: bold
