.page-container
    margin: 15px
    position: relative

.bold
    font-weight: bold

.dropdown-content
    display: none

.show 
    display: block

.submission
    position: fixed
    background-color: black
    color: white
    height: 100vh
    top: 0
    right: 0
    display: none

.request
    background-color: transparent
    color: white
    border: none
    font-weight: bold
    padding: 0
    margin: 0

.booking-form input, textarea
    background-color: transparent
    border: none
    border-bottom: white solid 1px
    margin-top: 10px
    color: white

::-webkit-calendar-picker-indicator 
    filter: invert(1)

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
    color: black
    background-color: transparent
    opacity: 1

.nav-pills .nav-link
    color: black
    border-radius: 0
    font-weight: bold
    opacity: 0.3

.nav-pills .nav-link:hover
    opacity: 1

.subnav
    padding: 0.5rem 1rem
    font-weight: bold

.dropdown-menu
    background-color: rgba(255,255,255,0.8)
    border-radius: 0
    border: none
    border-top: 1px solid black
    border-bottom: 1px solid black
    -webkit-backdrop-filter: blur(10px)
    backdrop-filter: blur(10px)

.dropdown-item.nav-link.active
    opacity: 1

.product-img
    width: 17em
    height: 12em
    object-fit: contain



.product-container
    max-width: 17em

.product-grid::after 
    content: ""
    flex: auto

.col 
    flex: 0 0 0%


.small-label
    font-size: 0.7em
    text-transform: uppercase

.addToCart
    border-bottom: 1px solid black

.addToCart:hover
    font-weight: bold
    cursor: pointer

.dropdown-toggle:focus
    outline: none

.dropdown-menu.show
    display: grid
    grid-template-columns: auto auto auto auto auto

.full-width.dropdown
    position: static

.full-width.dropdown > .dropdown-menu 
    left: 0
    right: 0
    position: absolute

.full-width.dropdown > .dropdown-menu > li > a 
    white-space: normal

.dropdown-item
    margin: 2px 2px

.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover
    background-color: transparent
    color: black
    border-top: 1px solid black
    border-bottom: 1px solid black

.dropdown-item:hover
    font-style: italic

.modal-content
    border-radius: 0