.showreel
    width: 100vw
    z-index: -2
    position: relative
    height: 100vh
    object-fit: cover

.index-arrow
    position: absolute
    bottom: 2vh
    left: 1vw
    font-size: 1.5em

.arrow-rotate
    transform: rotate(180deg)

.line-flex, .square-flex
    display: flex
    align-items: center
    justify-content: center
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    z-index: -1

.logo-square
    border: 2px solid white
    height: 200px
    width: 200px
    position: fixed

.logo-line
    border-left: 2px solid white
    height: 350px
    transform: rotate(-45deg)
    position: fixed
    width: 0

.index-navmenu-container
    height: 100vh
    width: 100%
    color: white
    position: relative
    
.navmenu-img
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    object-fit: cover
    opacity: 0
    z-index: 1
    transition: 0.4s

.opacity
    opacity: 1

.prod-title, .rental-title
    z-index: 1

.img-containers
    position: absolute
    top: 0
    display: flex

.left-img-container
    -webkit-backface-visibility: hidden /* the magic ingredient */
    -webkit-transform: skew(45deg, 0)
    overflow: hidden
    width: 100vw
    height: 100vh
    position: relative
    top: 0
    left: -25%


.left-img
    -webkit-transform: skew(-45deg, 0)
    position: relative
    left: 50%


.right-img-container
    -webkit-backface-visibility: hidden /* the magic ingredient */
    -webkit-transform: skew(45deg, 0)
    overflow: hidden
    width: 100vw
    height: 100vh
    position: relative
    top: 0
    right: 25%


.right-img
    -webkit-transform: skew(-45deg, 0)
    position: relative
    left: -25%


.index-line-container
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 0
    pointer-events: none

.index-navmenu
    height: 100vh
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center

@media screen and (max-width: 600px) 
    .logo-square
        height: 150px
        width: 150px

    .logo-line
        height: 275px

    .index-navmenu, .navmenu
        flex-direction: column

    .index-arrow
        display: none