.nav-logo
    display: flex
    justify-content: flex-start
    padding: 15px

.logo-img
    max-width: 20vw

.prod-navigation
    display: flex
    margin-top: 10vh
    padding: 15px
    align-items: baseline



.selection-flex
    display: flex
    justify-content: flex-start
    width: 50%

.selection-title
    opacity: 0.2
    margin-right: 1vw
    margin-bottom: 0

.black-background .selection-title
    opacity: 0.2 
    
.selection-title:hover 
    opacity: 1

.black-background .selection-title.active
    opacity: 1

.active
    opacity: 1

.filters span:hover
    text-decoration: underline

.projects-container
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    padding: 0 15px
    grid-gap: 5px
    grid-auto-flow: dense

.projects-container img
    width: 100%

.project-img
    object-fit: cover
    height: 30vh

.larger-placement
    grid-column-end: span 2
    grid-row-end: span 2
    height: 61vh