.nav-logo
    display: flex
    justify-content: flex-start
    padding: 15px

.logo-img
    max-width: 20vw

.prod-navigation
    display: flex
    margin-top: 10vh
    padding: 15px
    align-items: baseline



.selection-flex
    display: flex
    justify-content: flex-start
    width: 50%

.selection-title
    opacity: 0.2
    color: white
    margin-right: 1vw

.selection-title:hover 
    opacity: 1

.active
    opacity: 1

.filters
    color: white