.navbar-container
    height: 100vh
    background-color: black
    width: 100%
    color: white
    display: none

.navbar-open
    display: block

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after 
    height: 3px !important

.dark-mode
    background-color: white !important

.burger-container
    width: 100%
    float: right
    display: flex
    justify-content: flex-end
    z-index: 2


.navbar
    height: 85vh
    width: 100%
    display: flex
    justify-content: space-around
    align-items: center


.line
    height: 145vh
    width: 0
    border-left: 1px solid white
    transform: rotate(-45deg)
    animation-duration: 1s
    animation-name: grow

.line-container
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 0
    pointer-events: none

@keyframes grow 
    from 
        height: 0
    to 
        height: 145vh
    
