<div class="about-container">
    <div class="content-flex">
        <div class="about-intro eng">
            {{ site.data.about.about }}
            <br class="desktop"><br>
            <a href="{{site.baseurl}}/team" class="team-link"><u>Meet the Team</u></a>
        </div>
        <div class="about-intro pt">
            {{ site.data.about.about_pt }}
            <br class="desktop"><br>
            <a href="{{site.baseurl}}/team" class="team-link"><u>Conheça a Equipa</u></a>
        </div>
        <div class="about-address">
            {{ site.data.about.address }}
            <br class="desktop"><br>
            <div>
                <a href="mailto:geral@av82studio.com" class="mailto">geral@av82studio.com</a><br>
                + 351 912558439
                
            </div>
            <br class="desktop"><br>
            <div class="social-icons"><a href="https://www.instagram.com/av82studio/" target="_blank"><i class="ri-instagram-fill"></i></a><a href="https://www.facebook.com/av82studio" target="_blank"><i class="ri-facebook-box-fill"></i></a></div>
        </div>
        <div class="contact-form">
            <form action="" method="POST">
                <input type="text" id="name" name="name" placeholder="Name">
                <input type="email" id="email" name="email" placeholder="Email"><br>
                <textarea id="subject" name="subject" placeholder="Message" style="height:150px; width: 100%;"></textarea>
                <input class="submit-btn" type="submit" value="SUBMIT">
            </form>
        </div>
    </div>
    
</div>
<h2 class="about-btn"><span class="arrow-up"><i class="ri-arrow-up-line"></i></span><span class="arrow-down"><i class="ri-arrow-down-line"></i></span>  <span class="eng">ABOUT</span><span class="pt">SOBRE</span></h2>
