---
production: "/assets/img/production.jpg"
rental: "/assets/img/rental.webp"
---
<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body class="black-background">
        <div class="burger-container">
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                <span class="hamburger-inner white-background"></span>
                </span>
            </button>
        </div>

        <div class="navmenu-container">
            <div class="img-containers">
                <div class="left-img-container">
                    <img src="{{ site.baseurl }}{{site.data.menu-images.rental}}" alt="" class="navmenu-img left-img">
                </div>
                <div class="right-img-container">
                    <img src="{{ site.baseurl }}{{site.data.menu-images.production}}" alt="" class="navmenu-img right-img">
                </div>
            </div>
            <div class="line-container">
                <div class="line border-white"></div>
            </div>
            <nav class="navmenu">
                <h2 class="rental-title"><a href="{{site.baseurl}}/rental"><span class="eng">RENTAL</span><span class="pt">ALUGUER</span></a></h2>
                <h2 class="prod-title"><a href="{{site.baseurl}}/film"><span class="eng">PRODUCTION</span><span class="pt">PRODUÇÃO</span></a></h2>
            </nav>
        </div>
        <div class="language-switcher">
            <span id="#pt" class="lang-selector pt-selector active">PT</span> / <span id="#eng" class="lang-selector eng-selector"> ENG</span>
        </div>
        {{ content }}
    </body>
</html>