<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body class="black-background">
        <div class="burger-container">
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                <span class="hamburger-inner white-background"></span>
                </span>
            </button>
        </div>

        <div class="navbar-container">
            <div class="line-container">
                <div class="line border-white"></div>
            </div>
            <nav class="navbar">
                <h1><a href="{{ site.baseurl }}/film">Production</a></h1>
                <h1><a href="{{ site.baseurl }}/rental">Rental</a></h1>
            </nav>
        </div>
        {{ content }}
    </body>
</html>