<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body class="black-background">
        <div class="burger-container">
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                <span class="hamburger-inner white-background"></span>
                </span>
            </button>
        </div>

        <div class="navbar-container">
            <div class="img-containers">
                <div class="left-img-container">
                    <img src="{{ site.baseurl }}/assets/img/production.jpg" alt="" class="navbar-img left-img">
                </div>
                <div class="right-img-container">
                    <img src="{{ site.baseurl }}/assets/img/rental.jpg" alt="" class="navbar-img right-img">
                </div>
            </div>
            <div class="line-container">
                <div class="line border-white"></div>
            </div>
            <nav class="navbar">
                <h1 class="prod-title"><a href="{{ site.baseurl }}/film">PRODUCTION</a></h1>
                <h1 class="rental-title"><a href="{{ site.baseurl }}/rental">RENTAL</a></h1>
            </nav>
        </div>

        
        <div class="about-container">
            <div class="content-flex">
                <div class="about-intro">Porto based film and photography<br>studio offering both creative services<br>and a production space.</div>
                <div class="about-address">
                    Avenida da Boavista, 82<br>
                    Porto, Portugal
                    <br><br>
                    geral@av82studio.com<br>
                    + 351 912558439
                </div>
            </div>
        </div>
        <h2 class="about-btn"><span class="arrow-up">↑</span><span class="arrow-down">↓</span> About</h2>
        {{ content }}
    </body>
</html>