---
layout: black-clean
---

{% if page.synopsis != '' or page.credits != '' %}
<div class="about-container">
    <div class="content-flex project-container">
        <div class="about-address credits">
        {{ page.credits }}
        </div>
        {% if page.synopsis %}
        <div class="about-intro project-description">{{ page.synopsis }}</div>
        {% endif %}
    </div>
</div>
<h2 class="about-btn photo-title"><span class="arrow-up">↑</span><span class="arrow-down">↓</span> {{page.title}}</h2>
{% else %}
<h2 class="photo-title title-alone">{{page.title}}</h2>
{% endif %}