---
layout: black-clean
---
<a href="{{ site.baseurl }}/film">
    <div class="burger-container">
        <button class="hamburger hamburger--slider is-active" type="button">
            <span class="hamburger-box">
            <span class="hamburger-inner white-background"></span>
            </span>
        </button>
    </div>
</a>

{% if page.synopsis != '' or page.credits != '' %}
<div class="about-container">
    <div class="content-flex project-container">
        <div class="about-address credits">
        {{ page.credits }}
        </div>
        {% if page.synopsis %}
        <div class="about-intro project-description">{{ page.synopsis }}</div>
        {% endif %}
    </div>
</div>
<h2 class="about-btn photo-title"><span class="arrow-up">↑</span><span class="arrow-down">↓</span> {{page.title}}</h2>
{% else %}
<h2 class="photo-title title-alone">{{page.title}}</h2>
{% endif %}