---
layout: white-clean
---
<a href="{{ site.baseurl }}/photo">
    <div class="burger-container">
        <button class="hamburger hamburger--slider is-active" type="button">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
</a>
<div class="photo-carousel">
    {% for item in page.stills %}
        <div class="carousel-cell"><img src="{{ site.baseurl }}/{{ item }}"/></div>
    {% endfor %}
</div>

<div class="carousel-nav" data-flickity='{ "asNavFor": ".photo-carousel", "contain": true, "pageDots": false }'>
    {% for item in page.stills %}
        <div class="carousel-cell"><img src="{{ site.baseurl }}/{{ item }}"/></div>
    {% endfor %}
</div>

{% if page.description != '' or page.credits != '' %}
<div class="about-container about-container-white ">
    <div class="content-flex project-container">
        <div class="about-address credits">
        {{ page.credits }}
        </div>
        {% if page.description %}
        <div class="about-intro project-description">{{ page.description }}</div>
        {% endif %}
    </div>
</div>
<h2 class="about-btn photo-title"><span class="arrow-up"><i class="ri-arrow-up-line"></i></span><span class="arrow-down"><i class="ri-arrow-down-line"></i></span> {{page.title}}</h2>
{% else %}
<h2 class="photo-title title-alone">{{page.title}}</h2>
{% endif %}


<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
$('.photo-carousel').flickity({
    // options
    cellAlign: 'center',
    contain: true,
    pageDots: false,
    wrapAround: true,
    prevNextButtons: true,
});

$('.carousel-nav').flickity({
  asNavFor: '.photo-carousel',
  contain: true,
  pageDots: false,
  draggable: false
});
</script>