<!DOCTYPE html>
<html>
    <head>
        {% include head-bootstrap.html %}
    </head>
    <body>
            <div class="burger-container">
                <button class="hamburger hamburger--collapse" type="button">
                    <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
            <div class="navmenu-container">
                <div class="img-containers">
                    <div class="left-img-container">
                        <img src="{{ site.baseurl }}{{site.data.menu-images.rental}}" alt="" class="navmenu-img left-img">
                    </div>
                    <div class="right-img-container">
                        <img src="{{ site.baseurl }}{{site.data.menu-images.production}}" alt="" class="navmenu-img right-img">
                    </div>
                </div>
                <div class="line-container">
                    <div class="line border-white"></div>
                </div>
                <nav class="navmenu">
                    <h2 class="rental-title"><a href="{{site.baseurl}}/rental">RENTAL</a></h2>
                    <h2 class="prod-title"><a href="{{ site.baseurl }}/film">PRODUCTION</a></h2>
                </nav>
            </div>
            <div class="about-container about-container-white">
                <div class="content-flex">
                    <div class="about-intro eng">
                        {{ site.data.about.about }}
                        <br class="desktop"><br>
                        <a href="{{site.baseurl}}/team" class="team-link"><u>Meet the Team</u></a>
                    </div>
                    <div class="about-intro pt">
                        {{ site.data.about.about_pt }}
                        <br class="desktop"><br>
                        <a href="{{site.baseurl}}/team" class="team-link"><u>Conheça a Equipa</u></a>
                    </div>
                    <div class="about-address">
                        {{ site.data.about.address }}
                        <br class="desktop"><br>
                        <div>
                            <a href="mailto:geral@av82studio.com" class="mailto">geral@av82studio.com</a><br>
                            + 351 912558439
                            
                        </div>
                        <br class="desktop"><br>
                        <div class="social-icons"><a href="https://www.instagram.com/av82studio/" target="_blank"><i class="ri-instagram-fill"></i></a><a href="https://www.facebook.com/av82studio" target="_blank"><i class="ri-facebook-box-fill"></i></a></div>
                    </div>
                    <div class="contact-form form-white">
                        <form name="contact" method="POST" data-netlify="true">
                            <input type="text" id="name" name="name" placeholder="Name">
                            <input type="email" id="email" name="email" placeholder="Email"><br>
                            <textarea id="subject" name="subject" placeholder="Message" style="height:150px; width: 100%;"></textarea>
                            <input class="submit-btn" type="submit" value="SUBMIT">
                        </form>
                    </div>
                </div>
            </div>
            <h2 class="about-btn"><span class="arrow-up"><i class="ri-arrow-up-line"></i></span><span class="arrow-down"><i class="ri-arrow-down-line"></i></span> <span class="eng">ABOUT</span><span class="pt">SOBRE</span></h2>
            <div class="language-switcher">
                <span id="#pt" class="lang-selector pt-selector active">PT</span> / <span id="#eng" class="lang-selector eng-selector"> ENG</span>
            </div>
            {{ content }}
    </body>
</html>