<!DOCTYPE html>
<html>
    <head>
        {% include head-bootstrap.html %}
    </head>
    <body>
        <div class="burger-container">
            <button class="hamburger hamburger--collapse" type="button">
                <span class="hamburger-box">
                <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
        <div class="navmenu-container">
            <div class="img-containers">
                <div class="left-img-container">
                    <img src="{{ site.baseurl }}/assets/img/rental.webp" alt="" class="navmenu-img left-img">
                </div>
                <div class="right-img-container">
                    <img src="{{ site.baseurl }}/assets/img/production.webp" alt="" class="navmenu-img right-img">
                </div>
            </div>
            <div class="line-container">
                <div class="line border-white"></div>
            </div>
            <nav class="navmenu">
                <h1 class="rental-title"><a href="#">RENTAL</a></h1>
                <h1 class="prod-title"><a href="{{ site.baseurl }}/film">PRODUCTION</a></h1>
            </nav>
        </div>
        {{ content }}
    </body>
</html>